<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ProjetEnchere</display-name>


	<welcome-file-list>
		<welcome-file>accueil.html</welcome-file>
		<welcome-file>accueil.htm</welcome-file>
		<welcome-file>accueil.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>



	<!-- Gestion de la session -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>



	<!-- Servlets -->
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlet.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModifierProfil</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlet.ModifierProfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifierProfil</servlet-name>
		<url-pattern>/modifierprofil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AfficherProfil</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlet.AfficherProfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfficherProfil</servlet-name>
		<url-pattern>/afficherProfil</url-pattern>
	</servlet-mapping>





	<!-- Jsp -->
	<servlet>
		<description>accueil</description>
		<servlet-name>accueil</servlet-name>
		<jsp-file>/WEB-INF/jsp/accueil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>connexion</servlet-name>
		<jsp-file>/WEB-INF/jsp/connexion.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>accueil_administrateur</servlet-name>
		<jsp-file>/WEB-INF/jsp/accueil_administrateur.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil_administrateur</servlet-name>
		<url-pattern>/administrateur</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>accueil_utilisateur</servlet-name>
		<jsp-file>/WEB-INF/jsp/accueil_utilisateur.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil_utilisateur</servlet-name>
		<url-pattern>/utilisateur</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>inscription</servlet-name>
		<jsp-file>/WEB-INF/jsp/inscription.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>inscription</servlet-name>
		<url-pattern>/sinscrire</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>modifier_profil</servlet-name>
		<jsp-file>/WEB-INF/jsp/modifier_profil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifier_profil</servlet-name>
		<url-pattern>/modifProfil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>afficher_profil</servlet-name>
		<jsp-file>/WEB-INF/jsp/afficher_profil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>afficher_profil</servlet-name>
		<url-pattern>/affichProfil</url-pattern>
	</servlet-mapping>




</web-app>